Websites

Website name: Bluehost
Website URL: bluehost.com
Login name: 
Login: example@hostname.com
Password: 1234567890
Comment: CV

---

Website name: Ngrok
Website URL: https://ngrok.com/
Login name: 
Login: example@hostname.com
Password: 1234567890
Comment: Job

---

Applications

Application: Steam
Login name: 
Login: some_login
Password: 1234567890
Comment: 

---

Other Accounts

Account name: Apple ID
Login name: 
Login: example@hostname.com
Password: 1234567890
Comment: Apple ID

---

